<div class="container circle-block">
  <div class="block__box circle__float"></div>
  <div>
    <div class="block container domain-block">
      <h2 class="block__header">Lorem ipsum dolor sit amet.</h2>
      <p class="block__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit animi ab
        nemo molestias possimus soluta, expedita debitis minima dolores atque!
        Voluptates dicta qui perferendis expedita.
      </p>
    </div>
    <div class="container grid grid--1x3 circle">
      <span class="block circle__content">
        <h3 class="block__header">2k+</h3>
        <p class="block__text">Pet Helping</p>
      </span>
      <span class="block circle__content">
        <h3 class="block__header">2k+</h3>
        <p class="block__text">Pet Helping</p>
      </span>
      <span class="block circle__content">
        <h3 class="block__header">2k+</h3>
        <p class="block__text">Pet Helping</p>
      </span>
    </div>
  </div>
</div>
