<div class="container faq-page">
  <div class="block container domain-block">
    <h2 class="block__header">Title Here</h2>
    <p class="block__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit animi ab
      nemo molestias possimus soluta, expedita debitis minima dolores atque!
      Voluptates dicta qui perferendis expedita.
    </p>
  </div>
  <div class="container">
    <div class="faq collapsible">
      <span class="faq__decor"></span>
      <h3 class="faq__header">lorem ipsum sit amet ?</h3>
      <p class="faq__text collapsible__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, dicta?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        illum exercitationem modi rem dicta libero distinctio architecto ullam
        beatae cumque.
      </p>
    </div>
    <div class="faq collapsible">
      <span class="faq__decor"></span>
      <h3 class="faq__header">lorem ipsum sit amet ?</h3>
      <p class="faq__text collapsible__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, dicta?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        illum exercitationem modi rem dicta libero distinctio architecto ullam
        beatae cumque.
      </p>
    </div>
    <div class="faq collapsible">
      <span class="faq__decor"></span>
      <h3 class="faq__header">lorem ipsum sit amet ?</h3>
      <p class="faq__text collapsible__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, dicta?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        illum exercitationem modi rem dicta libero distinctio architecto ullam
        beatae cumque.
      </p>
    </div>
  </div>
</div>
