<div class="container grid grid--1x3 features">
  <div class="block features-block">
    <img class="features__img" src="/images/demo2.jpeg" alt="" />
    <h3 class="block__header features__header">Gold Shop</h3>
    <p class="block__text features__text">
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum
    </p>
  </div>
  <div class="block features-block">
    <img class="features__img" src="/images/demo3.jpeg" alt="" />
    <h3 class="block__header features__header">Gold Shop</h3>
    <p class="block__text features__text">
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum
    </p>
  </div>
  <div class="block features-block">
    <img class="features__img" src="/images/demo1.jpeg" alt="" />
    <h3 class="block__header features__header">Gold Shop</h3>
    <p class="block__text features__text">
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum
    </p>
  </div>
</div>
