<footer class="container">
  <div class="grid container footer__content">
    <ul>
      <div class="footer__list container collapsible">
        <h5 class="footer__lists__header">About</h5>
        <span class="footer__icon">=</span>
        <div class="footer__lists__group collapsible__content">
          <li class="list"><a class="list__items" href="#">History</a></li>
          <li class="list"><a class="list__items" href="#">Our Team</a></li>
          <li class="list">
            <a class="list__items" href="#">Brand Guidelines</a>
          </li>
          <li class="list">
            <a class="list__items" href="#">Terms & Condition</a>
          </li>
          <li class="list">
            <a class="list__items" href="#">Privacy Policy</a>
          </li>
        </div>
      </div>
    </ul>
    <ul>
      <div class="footer__list container collapsible">
        <h5 class="footer__lists__header">Services</h5>
        <span class="footer__icon">=</span>
        <div class="footer__lists__group collapsible__content">
          <li class="list">
            <a class="list__items" href="#">How to Order</a>
          </li>
          <li class="list">
            <a class="list__items" href="#">Our Product</a>
          </li>
          <li class="list">
            <a class="list__items" href="#">Order Status</a>
          </li>
          <li class="list"><a class="list__items" href="#">Promo</a></li>
          <li class="list">
            <a class="list__items" href="#">Paymetnt Method</a>
          </li>
        </div>
      </div>
    </ul>
    <ul>
      <div class="footer__list container collapsible">
        <h5 class="footer__lists__header">Other</h5>
        <span class="footer__icon">=</span>
        <div class="footer__lists__group collapsible__content">
          <li class="list">
            <a class="list__items" href="#">Contact Us</a>
          </li>
          <li class="list"><a class="list__items" href="#">Help</a></li>
          <li class="list"><a class="list__items" href="#">Privacy</a></li>
        </div>
      </div>
    </ul>
    <div class="footer__promotion">
      <a href="#"
        ><img class="footer__brand" src="/images/demo.jpeg" alt=""
      /></a>
      <h4 class="footer__title">Title Here</h4>
      <p class="footer__text">&copy; all right reserved 2024</p>
      <div class="footer__social-media">
        <a href="#"><img class="sm__img" src="/images/demo.jpeg" alt="" /></a>
        <a href="#"><img class="sm__img" src="/images/demo.jpeg" alt="" /></a>
        <a href="#"><img class="sm__img" src="/images/demo1.jpeg" alt="" /></a>
        <a href="#"><img class="sm__img" src="/images/demo2.jpeg" alt="" /></a>
        <a href="#"><img class="sm__img" src="/images/demo.jpeg" alt="" /></a>
      </div>
    </div>
  </div>
</footer>
