<nav class="container">
  <div class="nav container collapsible">
    <a href="#"><img class="brand" src="/images/logo.png" alt="" /></a>
    <img class="menu nav_menu" src="/images/menu.png" alt="" />
    <ul class="list nav_list collapsible__content">
      <li class="list_item"><a href="#">Home</a></li>
      <li class="list_item"><a href="#">Product</a></li>
      <li class="list_item"><a href="#">Promo</a></li>
      <li class="list_item"><a href="#">About</a></li>
      <li class="list_item"><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
