<div class="container quote-block">
  <div class="grid quote">
    <img src="/images/demo1.jpeg" alt="" class="quote__img" />
    <span class="quote__content">
      <q class="quote__text"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iusto
        eligendi voluptates libero commodi praesentium modi optio in. Reiciendis
        perferendis delectus possimus ea illum voluptates.</q
      >
      <h3 class="quote__speaker">Dr. Jenny</h3>
    </span>
  </div>
</div>
