<div class="container showcase-block--1">
  <div class="grid grid--1x2 showcase">
    <div class="showcase__content">
      <h3 class="block__header">Title Here</h3>
      <p class="block__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos,
        perspiciatis officiis quibusdam ad sapiente nam! Lorem ipsum dolor sit
        amet, consectetur adipisicing. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Tenetur, dolore?
      </p>
      <button class="btn btn--accent">Order Now</button>
    </div>
    <img class="showcase__img" src="/images/demo1.jpeg" alt="" />
  </div>
</div>
<div class="container showcase-block--2">
  <div class="grid grid--1x2 showcase">
    <div class="showcase__content">
      <h3 class="block__header">Title Here</h3>
      <p class="block__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos,
        perspiciatis officiis quibusdam ad sapiente nam! Lorem ipsum dolor sit
        amet, consectetur adipisicing. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Tenetur, dolore?
      </p>
      <button class="btn btn--accent">Order Now</button>
    </div>
    <img
      class="showcase__img showcase__img--1"
      src="/images/demo1.jpeg"
      alt=""
    />
  </div>
</div>
